
body {
	font-family: "Lato";
	margin: 0;
	margin-bottom: 200px;
	background-color: #f0f0f0;
	color: #222222;
	counter-reset: map-num;
}

p {
	margin-top: 0;
}

#navbar {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: #222222;
	padding: 10px 30px;
	font-family: "Roboto Slab";
	font-size: 25px;
	font-weight: bold;
	color: #fdfdfd;
}

#navbar-icon {
	vertical-align: middle;
	height: 100%;
	display: inline-block;
	margin-right: 5px;
}

#header-image-section {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image: url("/img/cover.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#description-section {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	border-radius: 25px;
	padding: 30px;
	margin-top: 30px;
	background-color: #e2e2e2;
}

#maps-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 70%;
}

.flat-button {
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	border-radius: 10px;
	text-align: center;
	padding: 9px;
	font-family: "Roboto Slab";
	font-size: 15px;
}

.flat-button:hover {
	text-decoration: underline;
	font-weight: bold;
}

.button-primary { background-color: #4289f4; }
.button-primary:hover { background-color: #3269bc; }

.button-secondary { background-color: #41a3f4; }
.button-secondary:hover { background-color: #327bbc; }

.collapsible {
	background-color: #dddddd;
	color: #444444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-family: "Roboto Slab";
}

#maps-section .collapsible:nth-child(2n+1) { background-color: #e2e2e2; }
#maps-section .collapsible:nth-child(4n+1) { background-color: #d0d0d0; }
#maps-section .collapsible:nth-child(2n+1):hover,
#maps-section .collapsible:nth-child(4n+1):hover { background-color: #222222;  color: #fdfdfd; text-decoration: underline; }

.item-title:before {
	counter-increment: map-num;
	content: "#" counter(map-num);
	margin-right: 20px;
}

.item-title {
	line-height: 30px;
	font-weight: bold;
	font-size: 20px;
}

.item-description {
	float: right;
	color: #fdfdfd;
	vertical-align: middle;
}

.description-tag {
	display: inline-block;
	padding: 5px;
	padding-right: 8px;
	background-color: black;
	border-radius: 10px;
	text-align: center;
}

.version-tag           { background-color: #00aa33; }
.spoiler-tag { background-color: #000000; }
.difficulty-tag-easy   { background-color: #ffce7f; } /*ffb29b*/
.difficulty-tag-medium { background-color: #ff9047; } /*ff7f59*/
.difficulty-tag-hard   { background-color: #f94b16; } /*f94b16*/
.length-tag-short      { background-color: #9bbcff; } /*9ba9ff*/
.length-tag-medium     { background-color: #598aff; } /*5977ff*/
.length-tag-long       { background-color: #1543f9; } /*1543f9*/
.difficulty-tag-easy, .difficulty-tag-medium, .difficulty-tag-hard,
.length-tag-short, .length-tag-medium, .length-tag-long { width: 90px; }

.tag-list {
	display: inline-block;
	color: #ffffff;
	margin-bottom: 10px;
	width: 450px;
}

.tag-list-header {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	color: #000000;
}

.theme-dark { background-color: #444444; }

.collapsible-content {
	display: none;
	overflow: hidden;
	background-color: #aaaaaa;
}

#maps-section .collapsible-content:nth-child(2n) { background-color: #d0d0d0; }
#maps-section .collapsible-content:nth-child(4n) { background-color: #e2e2e2; }

.content-img {
	width: 50%;
	float: left;
}

.content-info {
	box-sizing: border-box;
	width: 50%;
	float: left;
	padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}